.logo {
  text-decoration: none;
  font-size: 3rem;
  color: rgb(0, 221, 255);
}

.navbar-links {
  color: rgb(0, 221, 255);
  font-size: 1.6rem;
  margin: 0 3%;
}

.navbar-links:hover {
  color: rgb(21, 255, 0);
}

.searchbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.searchbar {
  border-radius: 25px;
}
